body {
  font-family: 'Manuale', sans-serif; /* Change the font family to Manuale for the entire document */
}
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hide the sidebar */
  bottom: 0;
  width: 250px;
  padding-top: 56px; /* Adjust based on your header height */
  background-color: #191970; /* Set the custom color for the sidebar */
  color: white; /* Set text color to white */
  transition: left 0.3s ease;
}
.content {
  margin-left: 0; /* Adjust based on sidebar width */
  transition: margin-left 0.3s ease;
  text-align: center; /* Center align the text */
}
.sidebar.opened {
  left: 0; /* Show the sidebar when opened */
}
.content.shifted {
  margin-left: 250px; /* Shift content when sidebar is opened */
}
.sidebar-toggler {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: white; /* Change the color to white */
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.sidebar-toggler:focus,
.sidebar-toggler:hover {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}
.header-brand {
  font-size: 1.5rem;
  color: #fff; /* Set text color to white */
  margin-bottom: 5px; /* Adjust the margin-bottom to create space between the brand and the text */
  pointer-events: none; /* Disable pointer events */
}
.header-text {
  font-size: 1rem; /* Increase font size */
  color: #fff; /* Set text color to white */
  margin-top: -10px; /* Adjust the margin-top to increase the spacing */
  font-weight: bold; /* Make the text bold */
}
.custom-navbar {
  background-color: #191970; /* Set the custom color for the navbar */
}
.footer {
  background-color: #191970; /* Set the background color for the footer */
  color: white; /* Set text color to white */
  padding: 20px 0; /* Add padding to the top and bottom */
  text-align: center; /* Align text to the center */
  position: fixed; /* Fix the footer at the bottom */
  width: 100%; /* Set width to 100% */
  bottom: 0; /* Align at the bottom */
}
.nav-link {
  color: white; /* Set text color to white */
}
.custom-content {
  text-align: center;
}

.custom-content h1 {
  font-size: 2rem;
}

.custom-content p {
  font-size: 1.2rem;
}

.custom-content button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-content button:hover {
  background-color: #0056b3;
}
.custom-content {
  text-align: center;
  margin-top: 150px; /* Adjust margin-top to move the content lower */
}
